
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ##############################33

$darkest-blue: #243763;
$orange: #FF6E31;
$oker: #FFEBB7;
$brown: #AD8E70;

body {
    
    min-width: 100%;
    min-height: 100%;

    @media (min-width: 320px) {

        .dashboard {

            bottom: 0;
            position: fixed;
            min-width: 100%;
            min-height: 5%;
            
            
        }
            
            .preview {
                
                min-height: 100%;
                min-width: 100%;
               
                
                .searchpart {

                    min-width: 100%;
                    min-height: 10vh;
                    
                }

                .contentpart {

                    min-height: 100vh;
                    min-width: 100%;
                    

                    .leftside {
                        grid-template-rows: repeat(6, 1fr);
                        gap: 20px;
                        max-width: 80%;
                        margin-inline: auto;
                        margin-top: 15px;
                        
                    }

                    .rightside{

                        min-height: 80vh;
                        max-width: 60%;
                        max-width: 80%;
                        margin-inline: auto;
                        margin-top: 15px;
                        border: 2px solid red;
                    }
                }

            }
                
            

            
        }

    @media (min-width: 640px) {

            .dashboard {

               bottom: 0;
               position: fixed;
               min-width: 100%;
               min-height: 5%; 
            }

            .preview {
                
                min-height: 100vh;
                min-width: 100%;
                
                
                .searchpart {

                    min-width: 100%;
                    min-height: 10vh;
                   
                    
                }

            }
            

        }

    @media (min-width: 1366px) {

            .dashboard {

                min-width: 20%;
                min-height: 100%;
            }

            .preview {
                
                min-height: 100vh;
                min-width: 100%;
                
                
                .searchpart {

                    min-width: 100%;
                    min-height: 20vh;
                    
                    
                }

            }
            
            
        }

    .dashboard {
        background-color: $darkest-blue;
        color: $orange;
    }
    .searchpart {
        background-color: $orange;
    }
    .preview {
        background-color: $brown;
    }
    .contentpart {
        background-color: $brown;
    }
    .leftside {
        display: grid;
        min-height: 100vh;
        
    }
    
    .cardholder {
            background-color: $oker;
            border-radius: 20px;
    }
    .announcments{
        background-color: $oker;
        h1 {
            margin-left: 50px;
        }
        
        p {
            border-top: 1px solid #c8cacfd7;
            width: 80%;
           
        }
    }
    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
    .trending {
        
        max-width: 80%;
        margin-inline: auto;
        background-color: aquamarine;
        border-radius: 20px;
        margin-bottom: 55px;
        div {
            max-width: 80%;
            display: grid;
            grid-template-columns: repeat(2, 50px 1fr);
            gap: 0px 5%;
            
            padding-top: 5%;
            padding-left: 12%;
            text-align: center;
            


            span {
                width: 37vw;
                margin-top: 10px;
            }
        }
    }
}

